body {
  color: #dfe5f4;
  font-family: sans-serif;
}
p {
  font-size: clamp(0.3rem, 1.3vw, 1.3rem);
  color: #8d99b0;
  line-height: clamp(1.2, 2.5vw, 2);
}
span {
  color: #dfe5f4;
}
.heading{
  display: none;
}
.mainContainer {
  box-sizing: border-box;
  max-width: 100vw;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 0, 39);
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  padding: 80px;
}
.headerContainer {
  box-sizing: border-box;
  max-width: 40%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}
.headerContainer h1 {
  font-size: clamp(1.5rem, 4vw, 5rem);
  margin: 10px 0px;
}
.headerContainer h3 {
  font-size: clamp(0.8rem, 3vw, 2rem);
  margin: 10px 0px;
}
.headerContainer p {
  width: 90%;
}
.headerIcons {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.headerIcons a {
  box-sizing: border-box;
  color: #8392b1;
  font-size: clamp(0.3rem, 3vw, 2.5rem);
}
.headerIcons a:hover{
  color: aqua;
  transition: all 0.5s ease-in-out;
}
.sideContainer {
  box-sizing: border-box;
  max-width: 55%;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none;
  display: grid;
  flex-direction: column;
  row-gap: 5rem;
}
.navBar {
  width: 50%;
}
.navBar p{
  margin: 0;
}
.navBar p:hover{
  transform: translateX(10px);
  transition: all 0.5s ease-in-out;
  color: aqua;
}
.navBar a {
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
  color: inherit;
  font-size: 1rem;
}
.navBar hr {
  width: 30px;
  margin: 15px 3px;
}
@media (max-width: 1448px) {
  .mainContainer {
    padding: 30px 20px 30px 50px;
  }

  .headerContainer,
  .sideContainer {
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .headerIcons {
    width: 40%;
  }
}
@media (max-width: 650px) {
  .mainContainer {
    flex-direction: column;
    padding: 30px;
    height: auto;
  }
  .heading{
    display: block;
    font-size: clamp(1.5rem, 4vw, 5rem);
  }
  p {
    font-size: clamp(0.3rem, 2vw, 1.3rem);
  }
  .sideContainer {
    row-gap: 2rem;
  }
  .navBar{
    display: none;
  }
}